<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title ">欢迎访问Projekt</h1>
      <h2 class="subtitle ">一个基于Ruby on Rails的项目管理app</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">为什么Projekt如此出色？</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quo voluptatibus blanditiis quis odit rerum error laudantium quidem, est tenetur dolorum mollitia, molestiae quibusdam ipsam vero autem modi et nobis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, dignissimos nihil, impedit distinctio perspiciatis, soluta repellat expedita libero vitae ea debitis quae excepturi aperiam dolorem veritatis possimus, quos molestias molestiae.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quaerat, tempore qui! Veniam sequi adipisci aliquam rerum, quas laborum expedita, illum repellendus sunt sit necessitatibus minus quo assumenda provident numquam.</p>
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <h4 class="subtitle is-4">现在注册</h4>
        <%= link_to '注册',new_user_registration_path,class: "button is-link is-outlined" %>
      </div>
    </div>
  </div>
</section>