<section class="section">
  <div class="container">
    <h1 class="title is-2">Editing Project</h1>

    <%= render 'form', project: @project %>

    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>

  </div>
</section>
