<section class="section">
  <div class="container">
    <h1 class="title is-2">New Project</h1>

    <%= render 'form', project: @project %>
    <hr/>


    <%= link_to '返回', projects_path, class: 'button' %>
  </div>
</section>