<p><%= @resource.email %>用户，您好!</p>

<p>有人申请了修改您的用户密码，您可以通过点击以下链接来修改密码：</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果不是您申请修改密码的，可以忽略这封邮件。</p>
<p>如果您没有点击链接并输入新密码，您的密码并不会被修改。</p>
